$border_col_active:#50c58d;
$border_col:#e5e5e5;
$bg_color_button:#0aaf60;
$bg_color_notif:#0aaf60;
$icon_color:#f7b500;
$bg_color_box:#fef5da;
$bg_color_input:#fafaf8;
$color_white:#fdfdfc;
$color_placeholder:#c2c2c1;
$color_font_1:#141414;
$color_font_2:#a3a3a3;
$category_active:#f3fbf7;